## 基本・演算

### 標準出力

print 関数を使います。

In [ ]:
print('Hello world')

変数, 四則演算

In [32]:
x = 3
y = 4.5
print(x)

print(x + 1)  # 加算
print(x - 1)  # 減算
print(x * 2)  # 乗算
print(x ** 2)  # べき乗 x^2
print(x + y)

3
4
2
6
9
7.5

Type（型）を見てみよう

In [56]:
print(type(x))
print(type(y))

<class 'str'>
<class 'float'>

| key       | 説明                   |
| --------- | ---------------------- |
| bool      | 真偽値型               |
| int       | 整数型                 |
| float     | 小数型                 |
| complex   | 複素数型               |
| list      | list 型                |
| tuple     | タプル型               |
| range     | range 型               |
| str       | 文字列型               |
| bytes     | バイト型               |
| set       | 集合型                 |
| frozenset | イミュータブルな集合型 |
| dict      | 辞書型                 |

### bool, 論理演算

`&&` `||` の代わりに `and` `or` を使います。

In [59]:
t = True
f = False
x = t
print(type(x))
print(type(t))  # => "<type 'bool'>"
print(t and f)  # 論理積; "False"
print(t or f)  # 論理和; "True"
print(not t)  # 否定; "False"
print(t ^ f)  # 排他的論理和; "True"

<class 'bool'>
<class 'bool'>
False
True
False
True

In [60]:
print(1 == 1)
print(1.0 == 1)
print(1.1 == 1.1)

print(1 != 1)
print(1 == 0)

True
True
True
False
False

## 文字列処理

In [24]:
hel = 'hello'  # シングルクォートか、
wor = "world"  # ダブルクォートで文字列を表す
print(hel)  # => "hello"
print(wor)

print(len(hel))  # 文字列の長さ;=> "5"
hw = hel + ' ' + wor  # 文字列の結合
print(hw)  # => "hello world"

hello
world
5
hello world

In [37]:
# 文字列の埋め込み
hwl2 = f'{hel}, {wor} {4 - 2}'
print(hwl2)
print(f'The {wor}!')

hello, world 2
The world!

In [31]:
nihongo = u'日本語' # 明示的にUnicode型を作るにはuをつける
print(nihongo)  # => '日本語'

日本語

Python 特有の仕様1

In [33]:
# 虚数
print((3 + 2j) - (6 + 4j))

(-3-2j)

In [35]:
# format operator
print('%s %s %d' % (hel, 'world', 3))

hello world 3

In [40]:
# 文字列の繰り返し
print('オラ' * 20)

オラオラオラオラオラオラオラオラオラオラオラオラオラオラオラオラオラオラオラオラ

文字列操作

In [41]:
s = "hello"
print(s.capitalize())  #=> "Hello"
print(s.upper())       #=> "HELLO"
print(s.upper().lower())       #=> "HELLO"->"hello"

Hello
HELLO
hello

In [42]:
print(s.rjust(7))      # 右寄せ;=> "  hello"
print(s.center(7))     # 中央寄せ;=> " hello "

  hello
 hello

In [44]:
print(s.replace('l', '(ell)'))  # 部分文字列の置換;=> "he(ell)(ell)o"
# ３つだけ文字列を入れ替える
b = "aaaaaaaaaaaaaaaa"
c = b.replace("a", "love", 3)
print(c)

print('  world '.strip())  # 空白の削除;=> "world"

# 文字列の長さを取得
moji = "python面白いね"
print(len(moji))

he(ell)(ell)o
loveloveloveaaaaaaaaaaaaa
world
10

### 複数行文字列(ヒアドキュメント)

In [45]:
moji = """
明日は何しようか。
pythonの勉強をしよう"""
print(moji)


# .formatの便利な使い方{0} に 変数1の値 、{1} に変数２の値 が割り当てられます。
sokudo = 30  # [km/h]
kyori = 120  # [km]
zikan = kyori / sokudo
ans = "{0}[km/h]で、{1}[km]を走るとすると、{2}[h]かかります。".format(sokudo, kyori, zikan)
print(ans)

# 入力させる 
tate = float(input("縦の長さは何[cm]?"))

yoko = float(input("横の長さは何[cm]?"))
s = tate * yoko
print("面積 s =" + str(s) + "[cm^2]です")

# 上記プログラムをmenseki.pyと保存してpythn3 mesenki.pyの実行できます。

明日は何しようか。
pythonの勉強をしよう
30[km/h]で、120[km]を走るとすると、4.0[h]かかります。
縦の長さは何[cm]?10
横の長さは何[cm]?20
面積 s =200.0[cm^2]です

## リスト

In [46]:
xs = [3, 1, 2]   # リスト作成
print(xs, xs[2])  #=> "[3, 1, 2] 2"
print(xs[-1])     # 負のインデックス値は後ろから数えます;=> "2"

xs[2] = 'foo'    # リストには複数のデータ型を混ぜられます
print(xs)         #=> "[3, 1, 'foo']"
xs.append('bar') # データを後ろに追加します
print(xs)         #=> "[3, 1, 'foo', 'bar']"

x = xs.pop()     # データを後ろから取り除きます
print(x, xs)      #=> "bar [3, 1, 'foo']"

[3, 1, 2] 2
2
[3, 1, 'foo']
[3, 1, 'foo', 'bar']
bar [3, 1, 'foo']

### range とスライス

In [53]:
nums = range(5)  # rangeは整数範囲を作成する組み込み型関数です

range(5, 10) # start, end(含まない)
# 5, 6, 7, 8, 9

range(0, 10, 3) # start, end, step
# 0, 3, 6, 9

range(-10, -100, -30)
# -10, -40, -70

range(1,5,1)

print(range(3))
print(list(range(3)))

range(0, 3)
[0, 1, 2]

In [54]:
nums = list(range(5))
# nums = [0, 1, 2, 3, 4] と等価

print(nums)  # => "[0, 1, 2, 3, 4]"
print(nums[2:4])  # インデックス2以上4未満;=> "[2, 3]"
print(nums[2:])  # インデックス2以上最後まで;=> "[2, 3, 4]"
print(nums[:2])  # 最初から2未満;=> "[0, 1]"
print(nums[:])  # 全要素;=> ["0, 1, 2, 3, 4]"
print(nums[:-1])  # 負のインデックスも可能;=> ["0, 1, 2, 3]"

[0, 1, 2, 3, 4]
[2, 3]
[2, 3, 4]
[0, 1]
[0, 1, 2, 3, 4]
[0, 1, 2, 3]

In [61]:
moji = "ABCDEF"
print(moji[::2])  # 2 刻みで全て抽出
# 'ACE'

# indexを使おう
a = ["a", "b", "c", "d"]
print(a.index("b"))  # 1
print(a.index("d"))  # 3

ACE
1
3

In [62]:
# リストに値が存在するかどうか
a = ["a", "b", "c", "d"]
print("b" in a)  # True
print("f" in a)  # False

# 個数をカウント使用
a = ["a", "b", "c", "c", "b"]
print(a.count("c"))  # 2
print(a.count("g"))  # 0

True
False
2
0

In [66]:
# ソートする
a = [5, 2, 4, 3, 0, 1]
s = sorted(a)
print(s)  # [0, 1, 2, 3, 4, 5]
a = ["b", "g", "a", "d"]
s = sorted(a)
print(s)  # ['a', 'b', 'd', 'g']


# 降順ソート
a = [5, 2, 4, 3, 0, 1]
a.sort(reverse=True)
print(a)  # [5, 4, 3, 2, 1, 0]

[0, 1, 2, 3, 4, 5]
['a', 'b', 'd', 'g']
[5, 4, 3, 2, 1, 0]

In [67]:
# タプルをリストへ変換
a = ("takasi", "jun", "tomoki")
print(list(a))  # ['takasi', 'jun', 'tomoki']
print(list((1, 2, 3, 4, 5)))  # [1, 2, 3, 4, 5]

# タプルアンパック
d = ("python", "Java", "c")
a, b, c = d
print(a)  # python
print(b)  # Java
print(c)  # c

['takasi', 'jun', 'tomoki']
[1, 2, 3, 4, 5]
python
Java
c

In [70]:
r, g, b = [255 ,80, 3]
print(r)
r, g, b = (255 ,80, 3)
print(g)

255
80

## 条件分岐 if, ループ for

Python ではブロックをインデントによって表します

```
for 変数 in データの集まり:
    処理
```

```
if 条件:
    処理A
    処理B
処理C
```

In [72]:
animals = ['cat', 'dog', 'monkey']
for animal in animals:
    print(animal)

for char in 'Hello':
    print(char)

cat
dog
monkey
H
e
l
l
o

In [73]:
for i in range(5):
    print(i)

0
1
2
3
4

In [77]:
for i in range(1, 11):
    if i % 3 == 0:
        print(i)

print()

for i in range(3, 11, 3):
    print(i)

3
6
9

3
6
9

In [78]:
strings = ['ruby', 'python', 'perl', 'java', 'c']
for string in strings:
    if string == 'python':
        print('OK')
        break  # 一致したので、breakで抜ける
    print(string)

ruby
OK

In [79]:
# 以下は、テストの点数をまとめたリストがあり、70点以下がなければ「合格」と表示されます。
scores = [100, 71, 80, 99, 75]  # 70点以下はないので、合格
for score in scores:
    if score <= 70:
        break
    else:
        print('合格')


index = 1
while index <= 5:
    print(index)
    index += 1
print("終了")

cnt=0;
while cnt < 10 :
    print("繰り返しております！")
    print(cnt+1)
    cnt = cnt + 1

合格
合格
合格
合格
合格
1
2
3
4
5
終了
繰り返しております！
1
繰り返しております！
2
繰り返しております！
3
繰り返しております！
4
繰り返しております！
5
繰り返しております！
6
繰り返しております！
7
繰り返しております！
8
繰り返しております！
9
繰り返しております！
10

## 標準入力

In [80]:
# 入力すべき行数を取得
print("何行入力するか数字をまず入力してください。")
num_lines = int(input())
print("入力を開始してください。")

# 1行ずつ取り出し
for i in range(num_lines):
    line = input()
    print(i + 1, "行目:" + line)

何行入力するか数字をまず入力してください。
3
入力を開始してください。
hoge
1 行目:hoge
fuga
2 行目:fuga
piyo
3 行目:piyo

## 関数

In [82]:
def hello():
    print('hello, world')

hello()  # hello, world

hello, world

In [83]:
# 引数付き
def greet(to):
    print('hello, ' + to)

greet('Alice')  # hello, Alice

hello, Alice

In [84]:

# 足し算 (戻り値を返す)
def sum(num1, num2):
    return num1 + num2

print(sum(3, 4))  # 7
# 型が指定されていないので文字列連結にも使えてしまう！
print(sum('hoge', 'fuga'))  # hogefuga


# 再帰を使ったフィボナッチ数列
def fib(n):
    if n <= 2:
        return 1
    return fib(n - 1) + fib(n - 2)

print(fib(4)) # 3
print(fib(20))

7
hogefuga
3
6765

ラムダ式

In [ ]:
pairs = [(1, 'one'), (2, 'two'), (3, 'three'), (4, 'four')]

pairs.sort(key = lambda pair: pair[0])
print(pairs)

pairs.sort(key = lambda pair: pair[1])
print(pairs)

In [88]:
is_odd = lambda n: n % 2 == 1

print(list(filter(is_odd, [1, 2, 3, 4, 5])))

triple = lambda n: n * 3
print(list(map(triple, [1, 2, 3, 4, 5])))

[1, 3, 5]
[3, 6, 9, 12, 15]